<footer>
    <div class="container py-4 py-lg-5">
        <div class="row row-cols-2 row-cols-md-4">
            <div class="col-12 col-md-3">
                <div class="fw-bold d-flex align-items-center mb-2"><span>Classy</span></div>
                <p class="text-muted">Organiza y haz tu vida estudiantil más simple.</p>
            </div>
            <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                <h3 class="fs-6 fw-bold">Sobre</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Equipo</a></li>
                    <li><a href="{% url 'terms' %}">Términos y condiciones&nbsp;</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-muted d-flex justify-content-between align-items-center pt-3">
            <p class="mb-0">&nbsp;2024 Classy</p>
        </div>
    </div>
</footer>