{% extends 'support.html' %}
{% block section %}
<style>
    .jumbotron {
        background-color: #f8f9fa;
        color: #343a40;
        padding: 80px 30px;
        margin-bottom: 0;
    }
    .vision-mission h2 {
        color: #343a40;
        font-size: 2rem;
    }
    .vision-mission p {
        font-size: 1rem;
    }
</style>

<div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-4">Sobre Nosotros</h1>
        <p class="lead">En nombre de <strong>Classy</strong>, nos enfocamos en simplificar la vida estudiantil. Nuestra misión es proporcionar una solución todo en uno que ayude a los estudiantes a organizarse mejor, acceder fácilmente a recursos y maximizar su rendimiento académico. Estamos comprometidos a hacer que la experiencia estudiantil sea más fácil.</p>
    </div>
</div>

<div class="container vision-mission">
    <div class="row">
        <div class="col-md-6">
            <h2>Nuestra visión</h2>
            <p>Nos visualizamos como la principal plataforma que transforma la experiencia estudiantil al simplificar, organizar y proporcionar facilidad en todas las facetas de la vida académica, permitiendo a los estudiantes alcanzar su máximo potencial y lograr el éxito personal y profesional.</p>
        </div>
        <div class="col-md-6">
            <h2>Nuestra misión</h2>
            <p>Nuestra misión es proporcionar una solución integral e innovadora que empodere a los estudiantes para gestionar eficazmente su vida estudiantil. A través de nuestra plataforma, buscamos simplificar la complejidad, organizar el caos y ofrecer facilidad de acceso a recursos, herramientas y servicios esenciales, todo ello diseñado para mejorar el rendimiento académico y el bienestar general de los estudiantes.</p>
        </div>
    </div>
</div>
{% endblock %}
