{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/flashcards.css' %}">
</head>
<body>
    <div class="container">
        <div id="nav">
            <a href="{% url 'flash' %}" id="back-home" class="btn"><span class="material-symbols-outlined">
                home
            </span></a>
            {% if cards.count == 0 %}
            <button class="btn btn-danger" id="delete-card" disabled><span class="material-symbols-outlined">delete</span></button>
            {% else %}
            <button class="btn btn-danger" id="delete-card" data-bs-toggle="modal" data-bs-target="#delete"><span class="material-symbols-outlined">delete</span></button>
            {% endif %}
            <button id="add-card" class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#newCard"><span class="material-symbols-outlined">
                add
            </span></button>
            <h1 class="text-center" id="header">FlashCards de {{card_group.name}} 📚</h1>
        </div>
        <div class="modal fade" id="newCard" tabindex="-1" aria-labelledby="newCardLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newCardLabel">Nueva Flash card</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <form action="{% url 'create-card' card_group.id %}" method="post" class="ml-2">
                            {% csrf_token %}
                            {{new_card_form}}
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </form>
                </div>
                </div>
                </div>
        </div>
        <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteLabel">Borrar cartas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body">
                    <strong>Esto borra todas las cartas de este grupo</strong>, desea continuar?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                    <a class="btn btn-danger" href="{% url 'delete-cards' card_group.id  %}">Si, continuar</a>
                </div>
            </div>
            </div>
        </div>
        
        {% if cards.count == 0 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>No tienes ninguna flashcard creada!</strong> No te preocupes crea una ahora!.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
            <div class="flashcard-grid">
                {% for card in cards %}
                <div class="flip-card">
                    <div class="flip-card-inner" tab-index="0">
                    <div class="flip-card-front">
                        <h2>{{card.question}}</h2>
                    </div>
                    <div class="flip-card-back">
                        <p>{{card.answer}}</p>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
{% endblock %}
