{% extends '_home_base.html' %}
{% block content %}
<style>
    .container {
        text-align: center;
        padding: 20px;
        background: linear-gradient(to right, #fdfbfb, #ebedee);
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    #hd {
        margin-top: 20px;
        font-size: 2em;
        color: #D7263D;
    }

    .custom-btn {
        font-size: 1.5em;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(to right, #56CCF2, #2F80ED);
        color: white;
    }

    .custom-btn:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
    }

    .emote {
        margin-right: 10px;
    }

    .custom-card {
        margin: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        background-color: #fff;
        border-radius: 10px;
    }

    .custom-card:hover {
        transform: scale(1.05);
    }

    .custom-card .card-body {
        padding: 20px;
    }

    .card-title {
        color: #6c757d;
    }

    .card-text {
        color: #495057;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>

<div class="container">
    <div class="btn-container">
        <button id="trivia" class="custom-btn">
            <span class="emote">🔥</span> Proximamente cartas con IA
        </button>
        <button id="add-card" class="custom-btn" data-bs-toggle="modal" data-bs-target="#newGroup">
            <span class="emote">😄</span> Crear grupos de cartas
        </button>
        <div class="modal fade" id="newGroup" tabindex="-1" aria-labelledby="newGroupLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newGroupLabel">Agregar grupo de cartas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'create-card-group' %}" method="post">
                    {% csrf_token %}
                <div class="modal-body">
                    {{new_card_group_form}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-ligth" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-dark">Crear grupo</button>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <h1 id="hd">Mis grupos: </h1>
    {% if card_groups %}
    <div class="row">
        {% for group in card_groups %}
        <div class="col-md-6">
            <div class="card p-3 custom-card">
                <div class="card-body">
                    <h5 class="card-title">{{group.name}}</h5>
                    <p class="card-text">{{group.subject}}</p>
                    <a href="{% url 'flash-cards' group.id %}" class="btn btn-primary">Ver grupo</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>No tines ningun grupo creado!</strong> No te preocupes, crea uno ahora!.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
</div>
{% endblock %}
