{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/flashcards.css' %}">  
</head>

<div class="container-fluid"  style="margin-top: 100px;">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="mx-auto d-flex">
            <h1 class="navbar-brand" id="header">FlashCards de {{ card_group.name }} 📚</h1>
        </div>
        <div class="ml-auto">
            <a class="btn btn-light" href="{% url 'flash' %}"><i class="far fa-home"></i></a>
            {% if cards.count == 0 %}
            <button class="btn btn-danger" disabled>
                <i class="far fa-trash-alt"></i>
            </button>
            {% else %}
            <button type="button" class="btn btn-danger" id="delete-card" data-bs-toggle="modal" data-bs-target="#delete">
                <i class="far fa-trash-alt"></i>
            </button>
            {% endif %}
            <button type="button" id="add-card" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#newCard">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </nav>
        <div class="modal fade" id="newCard" tabindex="-1" aria-labelledby="newCardLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="newCardLabel">Nueva Flash card</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'create-card' card_group.id %}" method="post" class="ml-2">
                            {% csrf_token %}
                            {{ new_card_form }}
                            <br>
                            <button type="submit" class="btn btn-dark">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteLabel">Borrar cartas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body">
                    <strong>Esto borra todas las cartas de este grupo</strong>, ¿desea continuar?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                    <a class="btn btn-danger" href="{% url 'delete-cards' card_group.id  %}">Sí, continuar</a>
                </div>
            </div>
            </div>
        </div>
        {% if cards.count == 0 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>No tienes ninguna flashcard creada!</strong> ¡No te preocupes, crea una ahora!.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="flashcard-grid row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {% for card in cards %}
            <div class="col mb-4">
                <div class="card flashcard">
                        <div class="question">
                            {{ card.question }}
                        </div>
                        <div class="answer" style="display: none;">
                            {{ card.answer }}
                        </div>
                        <button name="show-ans"  type="button" class="btn btn-primary mt-3 show-answer">Respuesta</button>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Get all buttons with class show-answer
                var showAnswerButtons = document.querySelectorAll('.show-answer');
            
                // Add click event listener to each button
                showAnswerButtons.forEach(function(button) {
                    button.addEventListener('click', function() {
                        // Find the parent card element
                        var card = this.closest('.card');
            
                        // Find the answer element within the card
                        var answer = card.querySelector('.answer');
            
                        // Toggle the visibility of the answer
                        if (answer.style.display === 'none') {
                            answer.style.display = 'block';
                            this.textContent = 'Ocultar Respuesta';
                        } else {
                            answer.style.display = 'none';
                            this.textContent = 'Respuesta';
                        }
                    });
                });
            });
            </script>
            
</div>
{% endblock %}
