{% extends '_home_base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6"> <!-- Make the first card larger by using col-md-6 -->
            <div class="card w-100"> <!-- Set width to 100% to make it take the full width of the column -->
                <div class="card-body">
                    <h5 class="card-title">Big ToDo</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card w-100"> <!-- Set width to 100% to make it take the full width of the column -->
                <div class="card-body">
                    <h5 class="card-title">ToDo</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card w-100"> <!-- Set width to 100% to make it take the full width of the column -->
                <div class="card-body">
                    <h5 class="card-title">ToDo</h5>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">

    </div>
</div>

{% endblock %}
