{% extends '_home_base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6"> 
            <div class="card w-100"> 
                <div class="card-body">
                    <h5 class="card-title">Tareas pendientes 
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#createTask" ><span class="material-symbols-outlined">
                            add
                            </span>
                        </span></button>
                        <div class="modal fade" id="createTask" tabindex="-1" aria-labelledby="createTaskLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="createTaskLabel">Crear tareas</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <form action="{% url 'new_task' %} " method="post">
                                {% csrf_token %}
                                {{form_task}}
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-success">Agregar tarea</button>
                                </div>
                            </form>
                            </div>
                            </div>
                        </div>
                    </h5>
            <ul class="list-group list-group-flush">
                {% for task in tasks %}
                {% if task.completed == False %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <form action="{% url 'complete_task' task.id %}" method="post">
                                {% csrf_token %}
                            <button type="submit" class="btn">                            
                                <span class="material-symbols-outlined">
                                check_box_outline_blank
                            </span></button>
                            </form>
                            <span>{{task.title}}</span>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card w-100" style="background-color: #6C6EA0;"> 
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 3em; color: #F2F4F5;"> {{tasks_count}}</h5>
                    <p class="card-text" style="font-size: 1.25em; color: #F2F4F5;">Tareas pendientes</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card w-100" style="background-color: #F7B32B;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 3em; color: #F2F4F5;">{{remainders_count}}</h5>
                    <p class="card-text" style="font-size: 1.25em; color: #F2F4F5;">Recordatorios</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-9">
            <div class="card w-100">
                <h5 class="card-header">Clases de hoy <span class="badge bg-warning">{{ today }}</span></h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Materia</th>
                                <th>Salon</th>
                                <th>Horario</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in subjects|dictsort:"hour_start" %}
                                {% if subject.get_day == today %}
                                <tr>
                                    <td>{{ subject.name }}</td>
                                    <td>{{ subject.clasroom }}</td>
                                    <td>{{ subject.hour_start|time:"H:i" }} - {{ subject.hour_end|time:"H:i" }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <style>
            #btn{
                background-color: #D7263D;
                color: #F2F4F5;
                font-size: 1.5em;
                padding: 1em;
                border-radius: 0.5em;
                text-decoration: none;
            }
        </style>
        <div class="col-md-3">
            <div class="card w-100">
                <a id="btn" href="{% url 'studyTimer' %}">Tiempo de estudiar</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card w-100" style="background-color: #1A1B25;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 3em; color: #F2F4F5;">{{notes_count}}</h5>
                    <p class="card-text" style="font-size: 1.25em; color: #F2F4F5;">Recordatorios</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
