{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<style>
    .custom-h1 {
    color: #F2F4F5;
}
</style>
<body class="content">
    {% block content %}
    <div class="text-secondary px-4 py-5 text-center" style="background-color: #1A1B25;">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1" style="font-size: 8rem; color: #F7B32B;">Classy</h1>
            <p class="col-lg-10 fs-4" style="color: #F2F4F3;">Optimiza tu vida estudiantil con nuestra plataforma: simplificación, organización y facilidad, ¡todo en un solo lugar!</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5 border rounded-3 bg-body-tertiary">
                <form class="p-4 p-md-5" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Usuario: " aria-label="Username" name="username" style="font-size: 1.25rem;">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña: " aria-label="Password" name="password" style="font-size: 1.25rem;">
                    </div>
                    <button class="w-100 btn btn-lg" style="background-color: #1A1B25; color: #F2F4F3;" type="submit">Iniciar sesión</button>
                </form>
                    <a class="link">¿Olvidaste tu contraseña?</a>
                    <hr class="my-4">
                    <small class="text-body-secondary">Si no tienes una cuenta, crea una ahora es gratis!.</small>
                    <br/>
                    <br/>
                    <button type="button" class="w-100 btn btn-lg" style="background-color: #D7263D; color: #F2F4F3;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Crear cuenta
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Crear cuenta</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            <div class="modal-body">
                                <form class="row g-3">
                                    <div class="col-md-6">
                                        <label for="fname" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="fname" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lname" class="form-label"> Apellido</label>
                                        <input type="text" class="form-control" id="lname" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for username class="form-label">Nombre de usuario</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text">@</span>
                                            <input type="text" class="form-control" id="username" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="password" class="form-label">Contraseña</label>
                                        <input type="password" class="form-control" id="password" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="val-password" class="form-label">Confirmar Contraseña</label>
                                        <input type="password" class="form-control" id="val-password" required>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                            <label class="form-check-label" for="invalidCheck">
                                            Acepto los terminos y condiciones
                                            </label>
                                        </div>
                                    </div>
                                    <small class="text-body-secondary">Al crear una cuenta protegemos toda tu información, disfruta nuestra plataforma! </small>
                                    <small class="text-body-secondary">Al ingresar en tu cuenta podras personalizarla para mejorar tu experiencia como usuario!</small>
                                    <div class="col-12">
                                        <button class="w-100 btn btn-lg" style="background-color: #D7263D; color: #F2F4F3;"  type="submit">Registrarme</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    <br>
                    <br>
            </div>
        </div>
    </div>
    {% include 'partials/_footer.html' %}
    {% endblock %}
</body>
</html>