{% extends '_home_base.html' %}
{% block content %}
<div class="container-fluid">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h4">Mis Apuntes: </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
        <div>
            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addNote" >
               <i class="far fa-plus"></i> Crear Apunte</button>
            <div class="modal fade" id="addNote" tabindex="-1" aria-labelledby="addNoteLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addNoteLabel">Crear recordatorio</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form action="{% url 'add_note' %} " method="post">
                    {% csrf_token %}
                    {{form}}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Agregar Apunte</button>
                    </div>
                </form>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container" id="todo">
    <div class="card w-100"> 
        <div class="card-body">
            <h5 class="card-title">Todos</h5>
            <ul class="list-group list-group-flush">
                {% for note in notes %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <strong>{{note.title}}</strong><span class="badge bg-dark">{{note.subject}}</span>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <div>
                            <button type="button" class="btn"  data-bs-toggle="modal" data-bs-target="#taskDetails">
                                <i class="far fa-eye-slash"></i>
                            </button>
                            <div class="modal fade" id="taskDetails" tabindex="-1" aria-labelledby="taskDetails" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="detailHeader">Detalles de la nota</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{note.content}}
                                    </div>
                                    <div class="modal-footer">
                                        Ultima moficación: {{note.last_modified}}
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div>
                                <button type="button" class="btn"  data-bs-toggle="modal" data-bs-target="#editTask">
                                    <i class="far fa-edit"></i>
                                </button>
                                <div class="modal fade" id="editTask" tabindex="-1" aria-labelledby="editTask" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="editHeader">Editar Recordatorio</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'edit_note' note.id %}" method="post">
                                                {% csrf_token %}
                                                {{form}}
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-warning">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <form action="{% url 'delete_note' note.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
</div>
</div>
<button class="btn btn-primary d-inline scroll-to-top border rounded" type="button" data-bs-toggle="modal" data-bs-target="#modal-1" style="background: #d7263d;"><i class="fas fa-plus"></i></button>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Crear nota</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <form method="post" action="{% url 'add_note' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p>{{form}}</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary" type="submit" style="background: #1a1b25;">Agregar nota</button></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}