{% extends '_home_base.html' %}
{% block content %}
<div class="container-fluid">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h4">Mis recordatorios: </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
        <div>
            <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addRemainder" >
                <i class="far fa-plus"></i> Crear Recordatorio</button>
            <div class="modal fade" id="addRemainder" tabindex="-1" aria-labelledby="addRemainderLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addRemainderLabel">Crear recordatorio</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form action="{% url 'create_remainder' %} " method="post">
                    {% csrf_token %}
                    {{form_remainder}}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Agregar recordatorio</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container" id="todo">
    <div class="card w-100"> 
        <div class="card-body">
            <h5 class="card-title">Pendientes</h5>
            <ul class="list-group list-group-flush">
                {% for remainder in remainders %}
                {% if remainder.is_completed == False %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <form action="{% url 'complete_remainder' remainder.id %}" method="post">
                                {% csrf_token %}
                            <button type="submit" class="btn">                            
                                <i class="far fa-square"></i> </button>
                            </form>
                            {% if remainder.is_important == True %}
                            <span>{{remainder.title}} <span class="badge bg-danger">Importante</span></span>
                            {% else %}
                            <span>{{remainder.title}}</span>
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <div>
                            <button type="button" class="btn"  data-bs-toggle="modal" data-bs-target="#taskDetails">
                                <i class="far fa-eye-slash"></i>
                            </button>
                            <div class="modal fade" id="taskDetails" tabindex="-1" aria-labelledby="taskDetails" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deatailHeader">Detalles del recordatorio</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{remainder.detail}}
                                    </div>
                                    <div class="modal-footer">
                                        Recordar en: {{remainder.date}}
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div>
                                <button type="button" class="btn"  data-bs-toggle="modal" data-bs-target="#editTask">
                                    <i class="far fa-edit"></i></button>
                                <div class="modal fade" id="editTask" tabindex="-1" aria-labelledby="editTask" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="editHeader">Editar Recordatorio</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'update_remainder' remainder.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="mb-3">                                                
                                                    <label for="title" class="form-label">Titulo</label>
                                                    <input id="title" name="title" class="form-control" value="{{remainder.title}}">
                                                </div>
                                                <div>
                                                <label for="description" class="form-label">Detalles</label>
                                                <textarea id="description" name="description" class="form-control" rows="3">{{remainder.details}}</textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-warning">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <form action="{% url 'delete_remainder' remainder.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <div class="card w-100"> 
        <div class="card-body">
                <h5 class="card-title">Completados</h5>
            <ul class="list-group list-group-flush">
                {% for remainder in remainders %}
                {% if remainder.is_completed == True %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center gap-2">
                            <form action="{% url 'uncomplete_remainder' remainder.id %}" method="post">
                                {% csrf_token %}
                            <button type="submit" class="btn">
                            <i class="far fa-check-square"></i>
                            </button>
                            </form>
                            <span>{{remainder.title}}</span>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <div>
                            <button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#taskDetails" disabled>
                                <i class="far fa-eye-slash"></i>
                            </button>
                            </div>
                            <div>
                                <button type="button" class=" btn btn-light"  data-bs-toggle="modal" data-bs-target="#editTask" disabled>
                                    <i class="far fa-edit"></i>
                                </button>
                            </div>
                            <div>
                                <form action="{% url 'delete_remainder' remainder.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}