{% extends 'base.html' %}
{% load static %}
{% block title %}Crear Cuenta{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
{% include 'partials/_header.html' %}
<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-md-6 text-center"><img alt="signup" class="img-fluid w-100" src="{% static 'imgs/signup.svg' %}"></div>
            <div class="col-md-5 col-xl-4 text-center text-md-start">
                <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong>Crear cuenta</strong></span></h2>
                {% if message %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3"><input class="shadow-sm form-control" type="text" name="username" placeholder="@Username" required></div>
                    <div class="mb-3"><input class="shadow-sm form-control" type="text" name="first_name" placeholder="Nombre" required></div>
                    <div class="mb-3"><input class="shadow-sm form-control" type="text" name="last_name" placeholder="Apellido" required></div>
                    <div class="mb-3"><input class="shadow-sm form-control" type="email" name="email" placeholder="Email" required></div>
                    <div class="mb-3"><input class="shadow-sm form-control" type="password" name="password1" placeholder="Contraseña" required></div>
                    <div class="mb-3"><input class="shadow-sm form-control" type="password" name="password2" placeholder="Confirmar contraseña" required></div>
                    <div class="mb-3">
                        <input class="form-check
                        shadow-sm" type="checkbox" id="terms" required>
                        <label class="form-check
                        shadow-sm" for="terms">Acepto los <a href="{% url 'terms' %}">terminos y condiciones</a></label>
                    </div>
                    <div class="mb-5"><button class="btn btn-dark shadow" type="submit">Crear cuenta</button></div>
                </form>
                <p class="text-muted">Tienes cuenta? <a href="{% url 'login_page' %}">Ingresa ahora&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12l14 0"></path>
                            <path d="M15 16l4 -4"></path>
                            <path d="M15 8l4 4"></path>
                        </svg></a>&nbsp;</p>
            </div>
        </div>
    </div>
</section>
{% include 'partials/_footer.html' %}  
{% endblock %}
