{% extends '_home_base.html' %}
{% block content %}
{% load static %}
<style>
  .main{
    overflow-y: auto;
    display: flex;
  }
</style>
<div class="container-fluid" id="main">
{% for post in posts %}
<div class="card">
  <div class="card-body" style="border-radius: 30px;">
      <div>
          <h4>{{post.title}}</h4>
      </div>
      <h6 class="text-muted card-subtitle mb-2"><img src="{% static 'imgs/default_avatar.png' %}" class="rounded-circle" style="height: 2rem;width: 2rem;">&nbsp; @{{post.user}}&nbsp;</h6>
      <p class="card-text">{{post.content}}</p>
      <div class="row">
        <div class="col-auto">
          <form  action="{% url 'like_post' post.id %}" method="post">{% csrf_token %}
            {% if post.liked %}
              <button class="btn" type="submit"><i class="fas fa-thumbs-up"></i>&nbsp; {{post.total_likes}}</button>
            {% else %}
              <button class="btn" type="submit"><i class="far fa-thumbs-up"></i>&nbsp; {{post.total_likes}}</button>
            {% endif %}
          </form>
        </div>
        <div class="col-auto">
          <a class="btn" href="{% url 'details' post.id %}">&nbsp;<i class="far fa-comment"></i>&nbsp; {{ post.comment_count }}</a>
        </div>
      </div>
  </div>
</div>
<br>
{% endfor %}
</div>
<button class="btn btn-primary d-inline scroll-to-top border rounded" type="button" data-bs-toggle="modal" data-bs-target="#modal-1" style="background: #1a1b25;"><i class="fas fa-plus"></i></button>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Crear post</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <form method="post" action="{% url 'create_post' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p>{{new_post_form}}</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cerrar</button><button class="btn btn-primary" type="submit" style="background: #1a1b25;">Publicar</button></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}