{% extends '_home_base.html' %}
{% block content %}
<style>
.post-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.comment-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}


.user-info {
  overflow: hidden; /* Prevent text from wrapping under avatar */
}

.user-name {
  font-weight: bold;
}

.post-time {
  color: #999;
  font-size: 12px;
}

.post-content {
  clear: both; /* Clear the float from the avatar */
  margin-top: 10px;
}


.btn-like,
.btn-comment,
.btn-share {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-like:hover,
.btn-comment:hover,
.btn-share:hover {
  background-color: #e0e0e0;
}

.btn-new-post {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 25px; /* Add some margin for spacing */
}

.post-footer {
        display: flex;
        justify-content: flex-end;
    }

    .post-footer form {
        margin-left: 8px; /* Adjust the margin as needed */
    }

</style>

<div class="container-fluid">
{% for post in posts %}
<div class="post-card">
    <div class="post-header">
        <div class="user-info">
          <h4>@{{ post.user }} <small class="text-muted" id="pronouns">{{post.user.profile.get_pronoun}}</small></h5>
            <p class="post-time">Posteado en {{post.created}} </p>
        </div>
    </div>
    <div class="post-content">
        <h5>{{post.title}}</h5>
        <p>{{post.content}}</p>
    </div>
    <div class="post-footer">
      <form action="{% url 'like_post' post.id %}" method="post" class="ml-2">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark position-relative">
            <i class="far fa-thumbs-up"></i>
              <span class="position-absolute translate-middle badge rounded-pill bg-danger">{{post.total_likes}}</span>
          </button>
      </form>
  
      <form action="{% url 'dislike_post' post.id %}" method="post" class="ml-2">
          {% csrf_token %}
          <button type="submit" class="btn btn-warning position-relative">
            <i class="far fa-thumbs-down"></i>
              <span class="position-absolute translate-middle badge rounded-pill bg-danger">{{post.total_dislikes}}</span>
          </button>
      </form>
  
      <a class="btn btn-light position-relative" href="{% url 'details' post.id %}">
        <i class="far fa-comments"></i>
          <span class="position-absolute translate-middle badge rounded-pill bg-success">{{ post.comment_count }}</span>
      </a>
  </div>
  
</div>
{% endfor %}
</div>
{% endblock %}