{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
    body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f2f4f3;
            margin: 0;
        }
        #nav {
            width: 100%;
            text-align: center;
            margin: 0 auto;
            font-size: 48px;
        }
        #back-home {
            text-decoration: none;
            color: #1a1b25;
            font-size: 48px;
        }
        #header{
            font-family: 'Inconsolata', monospace;
            color: #1a1b25;
            text-align: center;
            font-size: 36px;
        }
        #text{
            font-family: 'Inconsolata', monospace;
            color: #1a1b25;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
        #form{
            font-family: 'Inconsolata', monospace;
            color: #1a1b25;
            text-align: center;
            font-size: 18px;
        }
        #msg{
            font-family: 'Inconsolata', monospace;
            color: #1a1b25;
            text-align: center;
            font-size: 18px;
        }
</style>
<body>
<div class="container">
    <div id="nav">
        <a href="{% url 'home' %}" id="back-home"><span class="material-symbols-outlined">
            home
        </span></a>
        <h1 id="header">Classy Soporte</h1>
    </div>
    <div id="tickets-pendientes">
    <h4 id="text">Tickets pendientes</h4>
    <table class="table">
        {% for ticket in tickets %}
        {% if ticket.status == False %}
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha de solicitud</th>
            <th scope="col">Problema</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ ticket.id }}</th>
            <td>{{ ticket.name }}</td>
            <td>{{ ticket.email }}</td>
            <td>{{ ticket.date }}</td>
            <td><button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ticket-details">Detalles</button></td>
            <!-- Modal -->
            <div class="modal fade" id="ticket-details" tabindex="-1" aria-labelledby="ticket-detailsLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ticket-detailsLabel">Detalles del ticket </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    {{ ticket.report }}
                    </div>
                    </div>
                </div>
            </div>
            <td><form action="{% url 'complet_ticket' ticket.id %}" method="post">{% csrf_token %}<button class="btn" type="submit"><span class="material-symbols-outlined">check_box_outline_blank</span></button></form></td>
        </tr>
        </tbody>
        {% endif %}
        {% endfor %}
    </table>
    </div>
    {% for ticket in tickets %}
    {% if ticket.status == True %}
    <div id="tickets-resueltos">
    <h4 id="text">Tickets Resueltos</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha de solicitud</th>
            <th scope="col">Problema</th>
            <th scope="col">Status</th>
            <th scope="col">Eliminar</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ ticket.id }}</th>
                <td>{{ ticket.name }}</td>
                <td>{{ ticket.email }}</td>
                <td>{{ ticket.date }}</td>
                <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ticket-details">Detalles</button></td>
                <!-- Details Modal -->
                <div class="modal fade" id="ticket-details" tabindex="-1" aria-labelledby="ticket-detailsLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ticket-detailsLabel">Detalles del ticket </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        {{ ticket.report }}
                        </div>
                        </div>
                    </div>
                </div>
                <td><span class="material-symbols-outlined">check_box</span></td>
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ticket-delete"><span class="material-symbols-outlined">delete</span></button></td>
                <!-- Details Modal -->
                <div class="modal fade" id="ticket-delete" tabindex="-1" aria-labelledby="ticket-deleteLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ticket-detailsLabel">Eliminar Ticket </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Esta seguro que desea eliminar el ticket # {{ticket.id}}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <div id="form">
                            <form action="{% url 'delete_ticket' ticket.id %}" method="post">{% csrf_token %}<button class="btn btn-danger" type="submit">Eliminar</button></form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
    </div>
    {% endif %}
    {% endfor %}
</div>
</body>
{% endblock %}